body {
    font-family: Arial, sans-serif;
}

#board {
    width: 400px;
    margin: 0 auto;
}

#eval-bar {
    background: lightgray;
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
}

#eval-indicator {
    position: absolute;
    bottom: 0;
    background: green; /* Default color */
    transition: height 0.3s;
}
